@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Noto Sans", sans-serif; 
  min-width: 100%;
  min-height: 100vh;
  background: linear-gradient(147.52deg, #F9FAFB 8.89%, #D2D6DB 100.48%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
html{
  font-size: 62.5%;
  scroll-behavior:smooth ;
}

a{
  cursor: pointer;
  text-decoration: none;
}
ul{
  list-style: none;
}
